<!DOCTYPE html>
<html land="ru">
  <head>
    <title>What</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to "What??", { :controller => "main", :action => "index" }, :class => "brand" %>
          <div class="pull-right" id="user_nav">
            <% if current_user %>
              <!--Logged in as <%= current_user.email %>.-->
              <%= link_to "Log out", log_out_path, :class => "btn btn-inverse" %>
            <% else %>
              <%= link_to "Sign up", sign_up_path, :class => "btn" %>
              <%= link_to "Log in", log_in_path, :class => "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
      <!--<div class="container-fluid">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>-->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to "Тесты" %></li>
              <li><%= link_to "Знакомые" %></li>
            </ul>
          </div>
          <div class="span10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
